@model IEnumerable<CSharpRDL.Models.EmployeeDetail>
@{
    ViewBag.Title = "Dummy";
    Layout = "~/Views/Shared/_DashboardLayoutPage.cshtml";
}

@Html.Raw(TempData["msg"])
<section class="table-components">
    <div class="container-fluid">

        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Dummy</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/Home/Index">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Dummy
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <!-- ========== tables-wrapper start ========== -->
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <h6 class="mb-10">Employee Data</h6>
                        <p class="text-sm mb-10" align="right">
                            <a href="/Home/AddEmployee" class="btn primary-btn-outline rounded-md btn-hover">Add Employee</a>
                            <a href="@Url.Action("GenRep","Home")" class="btn btn-primary">Generate 201 Form Report</a>
                        </p>
                        <div class="table-wrapper table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><h6></h6></th>
                                        <th><h6>Employee Number</h6></th>
                                        <th><h6>Firstname</h6></th>
                                        <th><h6>Lastname</h6></th>
                                        <th><h6>Middlename</h6></th>
                                        <th><h6>Address</h6></th>
                                        <th><h6>Contact No</h6></th>
                                        <th><h6>Birthday</h6></th>
                                        <th><h6>Age</h6></th>
                                        <th><h6>Department</h6></th>
                                        <th><h6>Action</h6></th>
                                    </tr>
                                    <!-- end table row-->
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="min-width">
                                                <div class="lead">
                                                    <div class="lead-image">
                                                        @{
                                                            var base64 = (item.ProfileImg == null || item.ProfileImg.Length == 0) ? null : Convert.ToBase64String(item.ProfileImg);
                                                            var imgsrc = string.IsNullOrEmpty(base64) ? "/Images/undraw_profile.svg" : string.Format("data:image/gif;base64,{0}", base64);
                                                        }
                                                        <img src="@imgsrc"
                                                             alt="" />
                                                    </div>
                                                    <div class="lead-text">
                                                        <p>@*@item.Firstname*@</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="min-width">
                                                <p><a href="@Url.Action("ViewDetails", "Home", new { id = item.ID })">@item.EmployeeID</a></p>
                                            </td>
                                            <td class="min-width">
                                                <p>@item.Firstname</p>
                                            </td>
                                            <td class="min-width">
                                                <p>@item.Lastname</p>
                                            </td>
                                            <td class="min-width">
                                                <p>@item.Middlename</p>
                                            </td>
                                            <td class="min-width">
                                                <p>@item.Address</p>
                                            </td>
                                            <td class="min-width">
                                                <p>@item.ContactNo</p>
                                            </td>
                                            <td class="min-width">
                                                <p>@item.Birthdate</p>
                                            </td>
                                            <td class="min-width">
                                                <p>@item.Age</p>
                                            </td>
                                            <td class="min-width">
                                                <p>@item.Department</p>
                                            </td>
                                            <td>
                                                <div class="action">
                                                    <button class="text-primary">
                                                        <a href="@Url.Action("EditEmployee", "Home", new { id = item.ID })">
                                                            <i class="lni lni-pencil-alt"></i>
                                                        </a>
                                                    </button>
                                                    <button class="text-danger">
                                                        <a href="@Url.Action("Delete", "Home", new { id = item.ID })">
                                                            <i class="lni lni-trash-can"></i>
                                                        </a>
                                                    </button>
                                                    <button class="text-danger">
                                                        <a href="@Url.Action("ViewReport", "Home", new { id = item.ID })">
                                                            <i class="lni lni-eye"></i>
                                                        </a>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    <!-- end table row -->
                                </tbody>
                            </table>
                            <!-- end table -->
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== tables-wrapper end ========== -->
    </div>
    <!-- end container -->
</section>

