@model CSharpRDL.Models.EmployeeDetail

@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_DashboardLayoutPage.cshtml";
}

<h2>ViewProfile</h2>

<div>
    <h4>EmployeeDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="row">
            <img src="@Model.ImgUrl"
                 alt="" style="width: 200px; height: 150px;" />
        </div>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Middlename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Middlename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suffix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suffix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>
</div>
