@model CSharpRDL.Models.User
@{
    ViewBag.Title = "Login";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: dodgerblue;
        }

        .container {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .card {
            width: 500px;
        }

        .card-header {
            background-color: white;
            color: black;
            font-size: 24px;
            text-align: center;
        }

        .card-body {
            padding: 25px;
        }

/*        .register-link {
            text-align: center;
            margin-top: 20px;
        }*/
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                LOGIN
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Username)
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password)
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        @ViewBag.ErrorMessage
                    </div>
                    <br />
                    <button type="submit" name="login" class="btn btn-primary w-100">Login</button>
                }
                @*<div class="register-link">
                    Don't have an account? <a href="/Register">Register</a>
                </div>*@
            </div>
        </div>
    </div>
</body>
</html>



